body {
	font-family: 'Montserrat', sans-serif;
}

.contenedor-flex {
	display: flex;
	width: 100%;
	justify-content: center;
}

section {
	padding-top: 50px;
}

.lista1 {
	display: flex;
	width: 100%;
	justify-content: center;
}

.items {
	margin-right: 70px;
	margin-top: 90px;
	list-style: none;
	display: flex;
	align-items: baseline;
}

.items i {
	margin-right: 10px;
}



.container-navegador {
	background-color: #1E90FF;
	margin-top: 20px;
	padding-top: 0px;
}

.nav-link {
	color: white;
}

.nav-item.active .nav-link {
	font-weight: 900;
}

.nav-link:hover {
	color: #fff;
	font-weight: 900;
}

.nav-link-tabs.active {
	font-size: 18px;
	font-weight: 900;
	padding: 10px;
	border-top: 2px solid #1E90FF;
	color: #1E90FF;

}

.nav-link-tabs {
	font-size: 18px;
	padding: 10px;
	text-transform: uppercase;
	color: #000000;
}

.nav-link-tabs:hover {
	text-decoration: none;
}

.container-inicio {
	padding-top: 20px;
}

.mask {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.5);
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
}

.main-banner__text {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}


.main-banner__title p {
	font-size: 30px;
	color: #fff;
	font-weight: 600;
}

.main-banner__item {
	position: relative;
}

.main-banner__content {
	width: 100%;
}

.main-banner__img {
	width: 100%;
	height: 65vh;
}

.main-banner__img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.main-banner {
	margin-top: 20px;
}

.container-introduccion {
	margin-top: 60px;

}

.imagen {
	width: 350px;
	height: 300px;
}

.imagen2 {
	width: 320px;
	height: 310px;
}

.texto {
	text-align: center;
	position: relative;
}

.texto::after {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: -5px;
	width: 50px;
	height: 2px;
	background-color: #1E90FF;
}

.texto1 {
	text-align: justify;
	font-size: 14px;
}

.descripcion {
	margin-top: 50px;
}

.imagen-descripcion {
	margin-right: 20px;
	position: relative;
	top: 70px;
	left: 30px;


}

.imagen-descripcion2 {
	position: relative;
	bottom: 60px;
	left: 210px;

}

.container-introduccion {
	display: flex;
}

.items1 {
	line-height: 50px;
	font-size: 15px;
	list-style: none;
}

.items1 i {
	color: #fff;
	background-color: #1E90FF;
	padding: 4px 6px;
	border-radius: 50%;
}

.card {
	border: none;

}

.card-titulo {
	text-align: center;
	font-size: 18px;
}

.card-texto {
	text-align: center;
	font-size: 13px;
}

.card-img {
	width: 150px;
	height: 90px;
}

.contenedor-img {
	width: 100%;
	justify-content: center;
	display: flex;
}

.linea {
	width: 80%;

}
.card-body{
	
}


.contenedor-boton {
	margin-top: 30px;
	display: flex;
	width: 100%;
	justify-content: center;

}

.btn-white {
	background-color: #fff;
	color: #1E90FF;
}

.btn-blue {
	color: white;
	background-color: #1E90FF;
}

.palabra {
	color: #1E90FF;
}

.container-proyectos-titulo {
	margin-top: 60px;
}

.titulo {
	font-size: 30px;
}

.imagen3 {
	width: 350px;
	height: 300px;

}

.imagen4 {
	width: 350px;
	height: 300px;
	margin-top: 20px;
}

.container-img-proyecto {
	margin-top: 40px;
}

.container-final1 {
	margin-top: 100px;
	background-color:

}

.lista-final1 {
	/* margin-top: 40px; */
	line-height: 40px;
}

.texto-final2 {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.texto-final2__flexstart {
	align-items: flex-start;
}

.texto-final3 {
	width: 100%;
	justify-content: center;
	display: flex;
	margin-top: 30px;
}

.texto2 {
	font-size: 15px;
}


.card {
	margin-top: 50px;
}




.final-texto {
	margin-top: 20px;

}

.items2 {
	list-style: none;
}

.lista2 {
	padding-left: 0px !important;
}

.propiedades-img {
	width: 100%;
	height: 250px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: px;
	border-bottom-left-radius: px;
}

.titulo-propiedades {
	text-align: center;
	font-size: 22px;
}

.propiedades-card {
	margin-top: 50px;

}

.columnas-propiedades {
	display:
	justify-content: center;
}
.img-navs{
	width: 130px;
	height: 110px;
	margin-bottom: 
}
.img-mostrar{
	width: 550px;
	height: 400px;
	
}
.main {
	font-family:Arial;
	width:500px;
	display:block;
	margin:0 auto;
}
.propiedades{
	margin-left: 20px;
}

.columnas-propiedades{
	display

}
.titulo1{
	font-size: 30px;
	text-align: ;
}
.texto2{
	font-size: 14px;
	line-height: 30px;
	text-align: justify;
	margin-left:
}
.lista-propiedades__contactos{
	margin-left:
	line-height: 30px;
	list-style: none;
}


h3 {
	background: #fff;
	color: #3498db;
	font-size: 36px;
	line-height: 100px;
	margin: 10px;
	padding: 2%;
	position: relative;
	text-align: center;
}
.action{
	display:block;
	margin:100px auto;
	width:100%;
	text-align:center;
}
.action a {
	display:inline-block;
	padding:5px 10px; 
	background:#f30;
	color:#fff;
	text-decoration:none;
}
.action a:hover{
	background:#000;
}
.texto-contacto{
	
}
.contactos-propiedades{
	margin-top: 40px;
}
.iconos{
	margin-right: 10px;
}
.propiedades-iconos{
	margin-left: 20px;
}
.card-propiedad{
	box-shadow: 1px 2px 20px 0em #f1f0f0, 1px -1px 0 4em #ffffff;
	flex: 1 1 auto;
	padding: 1.25rem;

}
.texto-propiedad{
	font-size: 13px;
	text-align: justify;

}


@media (min-width: 0px) and (max-width: 767px) {
	.imagen {
		width: 250px;
		height: 190px;
		position: relative;
		right: 25px;
	}

	.imagen2 {
		width: 220px;
		height: 190px;
		position: relative;
		top: 50px;
		right: 140px;
	}

	.imagen3 {
		width: 250px;
		height: 150px;
		margin-bottom: 10px;


	}

	.contenedor-img2 {
		width: 100%;
		display: flex;
		justify-content: center;
	}

	.imagen4 {
		width: 250px;
		height: 150px;

		margin-top: 10px;
	}

	.items {
		font-size: 12px;
		margin-right: 20px;
		margin-top: 20px;
	}

	.contenedor-flex {
		display: block;

	}

	.inicio {
		width: 100%;
		justify-content: center;
		margin-right: 10px;

	}

	.texto {
		font-size: 20px;
		text-align: center;
	}

	.texto1 {
		font-size: 13px;
		line-height: 20px;
	}

	.items1 {
		line-height: 35px;
	}

	.lista2 {
		font-size: 13px;
	}

	.titulo {
		font-size: 20px;
		text-align: center;
	}

	.contenedor-boton {
		justify-content: center;
		display: flex;
		width: 100%;

	}

	.texto2 {
		font-size: 13px;
	}

	.imagen-final {
		width: 100%;
		justify-content: center;
		display: flex;
	}





}

@media (min-width: 768px) and (max-width: 991px) {}


.text-color {
	color: #1E90FF;
}

.card-services {
	display: flex;
	justify-content: center;
}

.tabs-section {
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: flex-end;
	margin-top: 60px;
}

.main-contact__contact {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.main-footer__form {
	width: 100%;
}

.main-contact__content {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
	margin-top: 50px;
}

input[type="text"],
input[type="phone"],
input[type="email"],
input[type="number"] {
	width: 100%;
	margin: 0 0px 20px;
	height: 45px;
	padding: 6px 15px;
	border-radius: 5px;
	outline: none;
	border: none;
	/* background: rgba(214, 218, 224, 0.52); */
	color: #efc09c;
	font-size: 16px;
	border-bottom: 1px solid rgba(214, 218, 224, 0.52);
}

input:focus {
	border-bottom: 2px solid #1E90FF;
	border-color: transparent;
	outline: 0;
	box-shadow: 0 0 0 0.2rem transparent !important;
	border-radius: 0px;
}

textarea {
	width: 100%;
	margin: 0 0px 20px;
	height: 45px;
	padding: 6px 15px;
	border-radius: 5px;
	outline: none;
	border: none;
	/* background: rgba(214, 218, 224, 0.52); */
	border-bottom: 1px solid rgba(214, 218, 224, 0.52);
	color: #efc09c;
	font-size: 16px;
	height: 100px;
	resize: none;

}

textarea:focus {
	border-bottom: 2px solid #1E90FF !important;
	border-color: transparent;
	outline: 0;
	/* box-shadow: 0 0 0 0.2rem transparent !important; */
	border-radius: 0px;
}